body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    width: 390px;
}

.display {
    color: #fff;
    text-align: right;
    padding: 15px;
    border-radius: 10px;
    font-size: 27px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    font-size: 25px;
    padding: 20px;
    background-color: #444444;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    height: 60px;
}


button:active {
    background-color: #666;
}

.btn-right {
    background-color: #ff8c00;
}

.btn-left {
    grid-column: span 2;
}

#btn-AC {
    background-color: white;
    color: black;
}

#btn-tog {
    background-color: white;
    color: black;
}

#btn-mod {
    background-color: white;
    color: black;
}

#btn-AC:active {
    background-color: #666;
}

#btn-tog:active {
    background-color: #666;
}

#btn-mod:active {
    background-color: #666;
}